body{
    background: linear-gradient(rgb(243, 243, 247), rgb(218, 45, 73));
    background-repeat: no-repeat ;
    
    background-attachment: fixed;
}
.container{
    text-align: center;
}
li{
    list-style-type: none;
}
li a{
    color: black;
}