# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
aplicaciones_react/sopimuelle/node_modules
aplicaciones_react/sopimuelle/.pnp
aplicaciones_react/sopimuelle/.pnp.js

# testing
aplicaciones_react/sopimuelle/coverage

# production
aplicaciones_react/sopimuelle/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*