body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    padding: 20px;
    color: #009B00;
    text-align: center;
}

.curso {
    border: 1px solid ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.curso h3 {
    margin: 0;
    color: #009B00;
}

.curso p {
    margin: 5px 0;
    color: #E6F5E6;
}

button {
    padding: 5px 10px;
    background-color: #009B00;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container{
    border-style: groove;
    border-color: #ddd;
}